*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(../Image/background.png);
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-container{
    position: relative;
    display:none ;
}
.heading{
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}

.quiz-area,.result-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
.quiz-container.show{
    display: flex;
    flex-direction: column;
    transform: scale(1.1);
}
.result-container{
    display: none;
}
.result-container.show{
    display: flex;
}
.quiz-question{
    font-size: 20px;
    color: steelblue;
    margin: 20px;
}

.answers-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.answers-list .answer{
    position: relative;
    padding: 10px;
    margin:0 10px ;
    background-color: transparent;
    border: 1px solid steelblue;
    color: steelblue;
    border-radius: 20px;
    transition: all .4s ease;
}
.answers-list .answer.correct{
    background-color: green;
    color: white;
    border-color: transparent;
}
.answers-list .answer.uncorrect{
    background-color: red;
    color: white;
    border-color: transparent;
}
.answers-list .answer:hover{
    background-color: orange;
    color: white;
    border-color: transparent;
}
.answers-list .answer span{
    margin-right: 10px;
}
.quiz-image{
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
}
.quiz-image img{
    width: 100%;
}

.result-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.result-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}
.result-info h1{
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: 900;
   color: rgb(43, 68, 89);
}

.result-info p{
    color: steelblue;
    font-size: 20px;
}

.result-text{
    color: aquamarine;
    font-size: 30px;
}

.again-btn{
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid steelblue;
    color: steelblue;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.again-btn:hover{
    background-color: steelblue;
    color: white;
}
.quiz-img{
    width: 100%;
    height: 100px;
}

.trueIcon,.falseIcon{
    position: absolute;
    right: 10px;
    color: color;
}
